body{
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    color: bisque;

}
h1,h2{
    text-align: center; color: darkturquoise;
}
p,ul{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 25px;

}
img{ 
    display: block;
    margin: auto;
}
footer{
    text-align: center;
     color: darkturquoise;
}